<!DOCTYPE html>
<html>
	<head>
		<title>Beeg Truck</title>

		<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>

		<style type="text/css">
			html, body {
			  width:  100%;
			  height: 100%;
			  margin: 0px;
			}

			#boostCanvas {
				position: fixed;
				top: 330px;
				right: 10px;
			}

			#canvasdiv {
			   width: 100%;
			   text-align:center;
			}

			#gameCanvas {
			   display: inline;
			}
		</style>

	</head>
	<body oncontextmenu="return false;">
		<div id="canvasdiv">
			<canvas id="gameCanvas"></canvas>
		</div>
		<canvas id="boostCanvas" width="50" height="200"></canvas>

		<script type="text/javascript">

			const ARENA_WIDTH = 1000;
			const ARENA_HEIGHT = 500;
			const ARENA_THICKNESS = 10;
			const ROOM_NAME = '{{room}}'

			var plowWidth = 30;
			var plowLength = 15;
			var truckWidth = 15;
			var truckLength = 30;

			var thisId;
			var thisPlayer = {
				x: 0,
				y: 0,
				living: true,
				direction: 0,
				isBoosting: false,
				boostRemaining: 1
			};

			var allPlayers = [];

			var canvas = document.getElementById("gameCanvas");
			var ctx = canvas.getContext('2d');

			canvas.width = ARENA_WIDTH + ARENA_THICKNESS*4;
			canvas.height = ARENA_HEIGHT + ARENA_THICKNESS*4;

			var boostCtx = document.getElementById("boostCanvas").getContext('2d');

			var currentMousePos = { x: -1, y: -1 };
		    $(document).mousemove(function(event) {
		    	var x = canvas.offsetLeft;
		        currentMousePos.x = event.pageX - canvas.offsetLeft;
		        currentMousePos.y = event.pageY;
		    });

			function drawCharacter(centerX, centerY, angle, color) {

				ctx.save();

				ctx.translate(centerX, centerY);
				ctx.rotate( angle ); 
				ctx.translate(-centerX, -centerY);

				ctx.fillStyle = color;
				ctx.fillRect(centerX - truckLength, centerY - truckWidth/2, truckLength, truckWidth); // Body
				ctx.fillRect(centerX, centerY - plowWidth/2, plowLength, plowWidth); // Plow

				ctx.restore();
			}

			function drawBoost(playerX, playerY, playerRot) {

				boostWidth = 8;
				boostHeight = 18;

				ctx.save();

				ctx.translate(playerX, playerY);
				ctx.rotate( playerRot ); 
				ctx.translate(-playerX, -playerY);

				ctx.beginPath();
				ctx.moveTo(playerX - truckLength, playerY);
				ctx.lineTo(playerX - truckLength - boostHeight, playerY + boostWidth / 2);
				ctx.lineTo(playerX - truckLength - boostHeight, playerY - boostWidth / 2);
				ctx.closePath();

				ctx.fillStyle = "yellow";
				ctx.fill();

				ctx.restore();
			}

			function drawBoostLevel(percent) {
				var borderWidth = 7;

				boostCtx.fillStyle = "gray";
				boostCtx.fillRect(0,0,boostCtx.canvas.width,boostCtx.canvas.height);

				var maxBoostHeight = boostCtx.canvas.height - borderWidth*2;
				var boostWidth = boostCtx.canvas.width - borderWidth*2;
				var boostHeight = percent * maxBoostHeight;

				boostCtx.fillStyle = "yellow";
				boostCtx.fillRect(borderWidth, borderWidth + (maxBoostHeight - boostHeight), boostWidth, boostHeight);
			}

			var distanceBetweenDots = 75;

			function drawBackground() {
				ctx.strokeStyle = "black";
				ctx.lineWidth = ARENA_THICKNESS;
				ctx.strokeRect(ARENA_THICKNESS/2, ARENA_THICKNESS/2, ARENA_WIDTH + ARENA_THICKNESS*2, ARENA_HEIGHT + ARENA_THICKNESS*2);
			}

			$(document).mousedown(function(event) {
    			switch (event.which) {
					case 1:
						socket.emit("boost", {});
						break;
					case 3:
						socket.emit("brake", {brake: true});
						break;
				}
			});

			$(document).mouseup(function(event) {
    			switch (event.which) {
					case 3:
						socket.emit("brake", {brake: false});
						break;
				}
			});

			function adjustedOpponent(x, y) { //returns null if outside of frame
				var player = {x:x - thisPlayer.x, y:y - thisPlayer.y};
				return player;
			}

			var socket = io('/game');

			socket.on('gibroomname', function(data) {
				socket.emit('room_name', {room_name: ROOM_NAME})
			});

			socket.on("hello", function (data) {
				thisId = data.id;
			});

			socket.on("entities", function (data) { 
				allPlayers = data;
				for (var i in data) {
					ent = data[i]
					if (ent.id == thisId) {
						thisPlayer = ent;
						break;
					}
				}
			});

			socket.on("death", function(data) {
				clearInterval(loop);
				document.write("gg m8");
				console.log('ded');
			})

			function draw() {
				ctx.clearRect(0, 0, canvas.width, canvas.height);

				var relativeX = currentMousePos.x - thisPlayer.x;
				var relativeY = currentMousePos.y - thisPlayer.y;

				var angle = Math.atan2(relativeY, relativeX);
				socket.emit("direction", {angle: angle});

				drawBackground();

				for (var i in allPlayers) {
					var ent = allPlayers[i];
					var color;
					if (!ent.living) {
						color = 'black';
					} else if (ent.id == thisId) {
						color = 'blue';
					} else {
						color = 'red';
					}
					drawCharacter(ent.x, ent.y, ent.direction, color);
					if (ent.isBoosting) {
						drawBoost(ent.x, ent.y, ent.direction);
					}
				}

				drawBoostLevel(thisPlayer.boostLevel);

				socket.emit('ping', {});

			}

			var loop = setInterval(draw, 20);
		</script>
	</body>
</html>