<!DOCTYPE html>
<html>
	<head>
		<title>Beeg Truck</title>

		<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>

		<style type="text/css">
			html, body {
			  width:  100%;
			  height: 100%;
			  margin: 0px;
			}

			#boostCanvas {
				position: fixed;
				bottom: 10px;
				left: 10px;
			}
		</style>

	</head>
	<body oncontextmenu="return false;">
		<canvas id="myCanvas"></canvas>
		<canvas id="boostCanvas" width="50" height="200"></canvas>

		<script type="text/javascript">	
			var playerR = 30;
			var playerHeight = 90;
			var socket = io();

			var id;

			var playerX = 0;
			var playerY = 0;
			var playerRot = 0;
			var color = "green";
			var maxBoost = 2;
			var boost = maxBoost;
			var isBoosting = false;

			var others = [];

			var canvas = document.getElementById("myCanvas");
			var ctx = canvas.getContext('2d');

			var boostCtx = document.getElementById("boostCanvas").getContext('2d');

			function drawCharacter(centerX, centerY, angle, color) {
				centerX += canvas.width/2;
				centerY += canvas.height/2;

				ctx.save();

				ctx.translate(centerX, centerY);
				ctx.rotate( angle*Math.PI/180 ); 
				ctx.translate(-centerX, -centerY);

				ctx.beginPath();
				ctx.arc(centerX, centerY, playerR, 0, Math.PI, true);
				ctx.lineTo(centerX - playerR, centerY + playerHeight);
				ctx.lineTo(centerX + playerR, centerY + playerHeight);
				ctx.closePath();

				ctx.fillStyle = color;
				ctx.fill();

				ctx.restore();
			}

			function drawBoost(playerX, playerY, playerRot) {
				playerX += canvas.width/2;
				playerY += canvas.height/2;

				boostWidth = 25;
				boostHeight = 50;

				ctx.save();

				ctx.translate(playerX, playerY);
				ctx.rotate( playerRot*Math.PI/180 ); 
				ctx.translate(-playerX, -playerY);

				ctx.beginPath();
				ctx.moveTo(playerX - boostWidth/2, playerY + playerHeight);
				ctx.lineTo(playerX, playerY + playerHeight + boostHeight);
				ctx.lineTo(playerX + boostWidth/2, playerY + playerHeight);
				ctx.closePath();

				ctx.fillStyle = "yellow";
				ctx.fill();

				ctx.restore();
			}

			function drawBoostLevel() {
				var borderWidth = 7;

				boostCtx.fillStyle = "gray";
				boostCtx.fillRect(0,0,boostCtx.canvas.width,boostCtx.canvas.height);

				var maxBoostHeight = boostCtx.canvas.height - borderWidth*2;
				var boostWidth = boostCtx.canvas.width - borderWidth*2;
				var boostHeight = boost/maxBoost * maxBoostHeight;

				boostCtx.fillStyle = "yellow";
				boostCtx.fillRect(borderWidth, borderWidth + (maxBoostHeight - boostHeight), boostWidth, boostHeight);
			}

			$(document).mousemove(function(event) {
				var relativeX = event.pageX - canvas.width/2;
				var relativeY = event.pageY - canvas.height/2;

				var angle = Math.atan2(relativeY, relativeX);
				socket.emit("direction", {angle: angle});
			})

			$(document).mousedown(function(event) {
    			switch (event.which) {
					case 1:
						socket.emit("boost", {boost: true});
						break;
					case 3:
						socket.emit("brake", {brake: true});
						break;
				}
			});

			$(document).mouseup(function(event) {
    			switch (event.which) {
					case 1:
						socket.emit("boost", {boost: false});
						break;
					case 3:
						socket.emit("brake", {brake: false});
						break;
				}
			});

			function adjustedOpponent(x, y) { //returns null if outside of frame
				var player = {x:x - playerX, y:y - playerY};

				var maxX = canvas.width/2 + playerR;
				var minX = -canvas.width/2 - playerR;
				var maxY = canvas.height/2 + playerHeight;
				var minY = -canvas.height/2 - playerR;

				if (player.x > maxX || player.x < minX || player.y > maxY || player.y < minY) {
					return null;
				} else {
					return player;
				}

			}

			socket.on("entities", function (data) { //{clients: [{}, {}, {}]}      each client: {x: y: direction: color: playerBoost: isBoosting: id:}
				var entities = data;
				players = [];

				for (var i = 0; i < entities.length; i++) {
					var ent = entities[i];


					if (ent.id == id) {

						playerX = ent.x;

						playerY = ent.y;
						console.log(playerY);

						rotation = ent.rotation;
						playerBoost = ent.boost;
						isBoosting = ent.isBoosting;

					} else {
						players.push(ent);
					}
				}
			});

			socket.on("death", function (data) {
				clearInterval(loop);
				document.write("gg m8");
			})

			socket.on("hello", function (data) {
				id = data.id;
			});

			socket.on('asdf', function() {
				console.log('fasdafsdasdf');
			})

			function draw() {
				ctx.clearRect(0, 0, canvas.width, canvas.height);

				canvas.width  = window.innerWidth-4;
				canvas.height = window.innerHeight-4;

				drawCharacter(0, 0, playerRot, "black"); //yourself
				drawBoostLevel();
				if (isBoosting) {
					drawBoost(0, 0, playerRot);
				}

				for (var i = 0; i < players.length; i++) {
					var ent = players[i];
					var player = adjustedOpponent(ent.x, ent.y);

					if (player != null) {
						drawCharacter(player.x, player.y, ent.direction, ent.color);
						if (ent.isBoosting) {
							drawBoost(player.x, player.y, ent.direction);
						}

					}
				}
			}

			var loop = setInterval(draw, 20);
		</script>
	</body>
</html>